version: '3.8'

services:
  backend:
    build: ./backend
    image: wolpro-backend:latest
    container_name: wolpro-backend
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - DATABASE_PATH=/app/data/db.sqlite
    ports:
      - "8002:3000"
    volumes:
      - ./data:/app/data

  frontend:
    build: ./frontend
    image: wolpro-frontend:latest
    container_name: wolpro-frontend
    restart: unless-stopped
    ports:
      - "8003:80"
    depends_on:
      - backend

volumes:
  wolpro-data: